@import '../../styles/variables.scss';

:global {
  .character {
    &__properties {
      margin: 20px 0;
    }

    .property {
      display: flex;
      margin-bottom: 5px;

      &__label {
        width: 200px;
      }

      &--error {
        color: $color__red;
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }

  .property__modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 10, 20, 0.5);
    z-index: 10;

    .modal {
      &__content {
        background: white;
        padding: 20px;
      }

      &__buttons {
        display: flex;
        justify-content: space-between;
        margin: 20px auto;
        width: 200px;
      }
    }
  }
}